/* styles.css */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #5d69be, #c89feb);
}

header {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
    padding: 20px;
    width: 100%;
    text-align: center;
    transform-style: preserve-3d;
    transform: rotateY(10deg) rotateX(10deg);
    transition: transform 0.5s;
    
}

h1 {
    font-family: "Lucida Bright";
  }
  

.container {
    width: 80%;
    margin: 0 auto;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #f8f6fa;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 2rem 0;
    text-align: center;
}


.foto1 {
    display: block; /* Make sure the image is displayed as a block element */
    margin: 20px auto;
    width: 150px; /* Adjust the width as needed */
    height: 150px; /* Adjust the height as needed */
    border-radius: 50%; /* Create the circular shape */
    object-fit: cover; 
  }


section#about, section#contact {
   
    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 2rem 0;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}

.project {
    background: rgba(255, 255, 255, 0.2);
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
 a {
    text-decoration: none; /* Remove underline */
  color: inherit; 
 }
form label {
    display: block;
    margin-top: 1rem;
}

form input, form textarea {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
    background: rgba(255, 255, 255, 0.2); 
    border-radius: 4px;
}

form button {
    display: block;
    margin-top: 1rem;
    padding: 0.7rem 1.5rem;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: white;
}
